
/* Your CSS Code here. */
.holder {
  display: grid;
  grid-template-columns: 97.5px 97.5px;
  grid-template-rows: repeat(2, 1fr);   
  width: 200px;                         
  height: 200px;                  
  grid-gap: 5px; 
	
	
}

.item {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}